include mixins.pug
html()
  head
    title= title
    script(src="/main.js")
    script(type="module", src="/datastar-1-0-0-beta-1-709a1d5426cfe2c0.js")
    link(rel="stylesheet", href="/bulma.min.css")
    link(rel="stylesheet", href="/main.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css")
  body
    div.container.is-flex.is-flex-direction-column(style="min-height: 100vh")
      nav.navbar.mb-4(role="navigation", aria-label="main navigation", data-signals-theme="'light'")
        div.navbar-brand
          a.navbar-item(href="/") Exercise Tracker
          a.navbar-burger(style="color: inherit;", role="button", aria-label="menu", aria-expanded="false", data-attr-aria-expanded="$shownavmenu.toString()", data-signals-shownavmenu="false" data-on-click="$shownavmenu = !$shownavmenu", data-class-is-active="$shownavmenu")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")
        div.navbar-menu(data-class-is-active="$shownavmenu")
          div.navbar-start
            if user
              a.navbar-item(href="/today") Today
              a.navbar-item(href="/exercises") Manage exercises
              a.navbar-item(href="/settings") Settings
          div.navbar-end
            if user
              button.navbar-item(data-on-click="exerciseTracker.signOut()") Sign out
            else
              button.navbar-item(data-on-click="exerciseTracker.signIn()") Sign in with Github
      
      div.is-flex-grow-1.mx-2
        block content

      footer.footer.mt-6
        div.content.has-text-centered
          p
            a.mr-1(href="https://github.com/luketurner/exercise-tracker") Source code
            | Copyright 2025 Luke Turner
            button.ml-1(data-show="$theme === 'light'", data-on-click="document.querySelector('html').setAttribute('data-theme', 'dark'); $theme = 'dark'") 🌙
            button.ml-1(data-show="$theme === 'dark'", data-on-click="document.querySelector('html').setAttribute('data-theme', 'light'); $theme = 'light'") ☀

    block modal