html
  head
    title= title
    script(src="/main.js")
    script(type="module", src="/datastar-0-21-3-2209181e385dd588.js")
    link(rel="stylesheet", href="/bulma.min.css")
  body
    nav
      if user
        a(href="/today") Today
        .
          &nbsp;
        a(href="/exercises") Manage exercises
        button(data-on-click="exerciseTracker.signOut()") Sign out
      else
        button(data-on-click="exerciseTracker.signIn()") Sign in with Github
    block content