html
  head
    title= title
    script(src="/main.js")
    script(type="module", src="/datastar-1-0-0-beta-1-709a1d5426cfe2c0.js")
    link(rel="stylesheet", href="/bulma.min.css")
  body
    div.container
      nav(class="navbar", role="navigation", aria-label="main navigation")
        div.navbar-brand
          a.navbar-item(href="/") Exercise Tracker
        div.navbar-menu
          div.navbar-start
            if user
              a.navbar-item(href="/today") Today
              a.navbar-item(href="/exercises") Manage exercises
          div.navbar-end
            if user
              button.navbar-item(data-on-click="exerciseTracker.signOut()") Sign out
            else
              button.navbar-item(data-on-click="exerciseTracker.signIn()") Sign in with Github
      block content