include mixins.pug
html(x-data="{theme: (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) ? 'dark' : 'light'}", x-bind:data-theme="theme")
  head
    title= title
    link(rel="stylesheet", href="/bulma.min.css")
    link(rel="stylesheet", href="/main.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css")
  body()
    script(src="/main.js")
    div.container.is-flex.is-flex-direction-column(style="min-height: 100vh")
      nav.navbar.mb-4(role="navigation", aria-label="main navigation", x-data="{ showNavMenu: false }")
        div.navbar-brand
          a.navbar-item.is-size-4.set-brand(href="/") Set
          a.navbar-burger(style="color: inherit;", role="button", aria-label="menu", x-bind:aria-expanded="showNavMenu" x-on:click="showNavMenu = !showNavMenu", x-bind:class="showNavMenu ? 'is-active' : null")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")
        div.navbar-menu(x-bind:class="showNavMenu ? 'is-active' : null")
          div.navbar-start
            if user
              a.navbar-item(href="/today") Today
              a.navbar-item(href="/exercises") Manage exercises
              a.navbar-item(href="/settings?back="+currentPath) Settings
            a.navbar-item(href="/manual") Manual
          div.navbar-end
            if user
              button.navbar-item(x-on:click="_set.signOut()") Sign out
            else
              button.navbar-item(x-on:click="_set.signIn()") Sign in with Github

      .notification.is-danger.is-light(x-show="$store.error.hasError")
        button.delete(x-on:click="$store.error.hasError = false")
        h1.subtitle An error occurred
        p(x-text="$store.error.message")
      
      div.is-flex-grow-1.mx-2
        block content

      footer.footer.mt-6
        div.content.has-text-centered
          p
            a.mr-1(href="https://github.com/luketurner/exercise-tracker") Source code
            | Copyright 2025 Luke Turner
            button.ml-1(x-show="theme === 'light'", x-on:click="theme = 'dark'") 🌙
            button.ml-1(x-show="theme === 'dark'", x-on:click="theme = 'light'") ☀

    block modal