extends _layout.pug

block content
  section.hero.is-danger
    .hero-body
      p.title Error!
      div.body.content
        p= errorMessage || "An unknown error has occured. Please try again later."
        p
          | Return to 
          a(href="/") home
          | .
        