extends _layout.pug

block content
  h1.title Manage Exercises
  div.fixed-grid.has-2-cols
    div.grid
      each exercise in exercises
        div.cell= exercise.name
        div.cell(style="width: 7em;")
          a.button(href="/exercises/"+exercise.id+"/historical")
            span.icon
              +icon("chart-line")
          a.button(href="/exercises/"+exercise.id)
            span.icon
              +icon("edit")
  form(action="/exercises", method="POST")
    .box.primary-box
      .field(x-data="{ newSetExercise: null }")
        label.label Create new exercise
        .field.has-addons
          .control
            input.input#name.is-primary(type="text", name="name")
          .control
            button.button.is-primary Create
