extends _layout.pug

block content
  h1 Exercises
  ul
    each exercise in exercises
      li
        a(href="/exercises/"+exercise.id)= exercise.name
  form(action="/exercises", method="POST")
    input#name(type="text", name="name")
    input(type="submit", value="Add")