extends _layout.pug

block content
  h1.title Manage Exercises
  div.fixed-grid.has-2-cols
    div.grid
      each exercise in exercises
        div.cell= exercise.name
        div.cell(style="width: 7em;")
          a.button.is-white(href="/exercises/"+exercise.id+"/historical")
            span.icon
              +icon("chart-line")
          a.button.is-white(href="/exercises/"+exercise.id)
            span.icon
              +icon("edit")
  form(action="/exercises", method="POST")
    +horizontalField("Exercise name")
      .field
        +control()
          input.input#name(type="text", name="name")
      .field
        +control()
          input.button(type="submit", value="Create new exercise")
