extends _layout.pug

block content
  h1= message
  h1 Exercises
  ul
    li= exercise.name
  if user
    button(data-on-click="exerciseTracker.signOut()") Sign out
  else
    button(data-on-click="exerciseTracker.signIn()") Sign in with Github