extends _layout.pug

block content
  h1.title Settings
  form(action="/settings", method="POST")
    div.field
      label.label Weight unit
      div.control
        select(name="preferredUnits[weight]")
          option(value="pound", selected=(user.preferredUnits && user.preferredUnits.weight === "pound")) Pounds
          option(value="kg", selected=(user.preferredUnits && user.preferredUnits.weight === "kg")) Kilograms
    div.field
      label.label Distance unit
      div.control
        select(name="preferredUnits[distance]")
          option(value="mile", selected=(user.preferredUnits && user.preferredUnits.distance === "mile")) Miles
          option(value="km", selected=(user.preferredUnits && user.preferredUnits.distance === "km")) Kilometers
    div.field
      div.control
        input.button(type="submit", value="Update")