extends _layout.pug

block content
  +control()
    a.button(href=back, x-bind:class="theme === 'dark' ? 'is-dark' : 'is-light'") Back
  h1.title Settings
  .block(x-data=JSON.stringify({ preferredUnits: {
    weight: defaultUnit("weight", user),
    distance: defaultUnit("distance", user)
  }}))
    form
      +horizontalField("Weight unit")
        .field
          +control()
            +selectAlpine(
              "preferredUnits.weight",
              "$fetch('post', '/settings', { preferredUnits, })",
              weightUnits
            )
    form
      +horizontalField("Distance unit")
        .field
          +control()
            +selectAlpine(
              "preferredUnits.distance",
              "$fetch('post', '/settings', { preferredUnits, })",
              distanceUnits
            )
  .notification
    +horizontalField("Export my data")
      +control()
        button.button(x-on:click="window.location = '/user/export'") Export

  .notification.is-danger(x-data="{ deleteModal: false }", x-bind:class="theme === 'dark' ? 'is-dark' : 'is-light'")
    h1.subtitle Danger Zone
    
    +horizontalField("Delete my account")
      +control()
        button.button.is-danger(x-on:click="deleteModal = true") Delete
    template(x-teleport="body")
      div.modal.is-active(x-show="deleteModal")
        .modal-background(x-on:click="deleteModal = false")
        .modal-card
          header.modal-card-head
            p.modal-card-title Delete my account
            button.delete(aria-label="close", x-on:click="deleteModal = false")
          section.modal-card-body
            p Are you sure you want to delete this account and all data associated with it? This cannot be undone.
            form#deleteaccount(name="deleteaccount", action="/user/delete", method="POST")
          footer.modal-card-foot
            .buttons
              input.button.is-danger(type="submit", value="Delete", form="deleteaccount")
              button.button(x-on:click="deleteModal = false") Cancel