extends _layout.pug

block content
  h1.title Settings
  form(action="/settings", method="POST")
    +horizontalField("Weight unit")
      .field
        +control()
          +select(
            "preferredUnits[weight]",
            null,
            user.preferredUnits && user.preferredUnits.weight,
            null,
            weightUnits
          )
    +horizontalField("Distance unit")
      .field
        +control()
          +select(
            "preferredUnits[distance]",
            null,
            user.preferredUnits && user.preferredUnits.distance,
            null,
            distanceUnits
          )
    +horizontalField()
      .field
        +control()
          input.button(type="submit", value="Update")