.flex {
  display: flex;
}

.add-set-form {
  width: max-content;
}

form {
  margin-block-end: 0;
}

.set-brand {
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--bulma-primary) !important;
  color: var(--bulma-primary-invert) !important;
}

html[data-theme="dark"] .set-brand {
  background-color: var(--bulma-primary-dark) !important;
  color: var(--bulma-primary-dark-invert) !important;
}

.primary-box {
  background-color: var(--bulma-primary) !important;
  color: var(--bulma-primary-invert) !important;
  width: 20em;
}

.primary-box label {
  color: var(--bulma-primary-invert) !important;
}

html[data-theme="dark"] .primary-box {
  background-color: var(--bulma-primary-dark) !important;
  color: var(--bulma-primary-dark-invert) !important;
}

html[data-theme="dark"] .primary-box label {
  color: var(--bulma-primary-dark-invert) !important;
}

.set-grid {
  margin-bottom: var(--bulma-block-spacing);
}

.set-skeleton {
  height: var(--bulma-control-height);
  min-height: var(--bulma-control-height);
}

.table-sort {
  margin: 0em 0.75em 1em 0.75em;
  float: right;
}

.screenshot {
  border: 1px solid var(--bulma-text-strong);
  transform: rotateY(20deg) rotateX(15deg);
  transform-style: preserve-3d;
}

.duration-field input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.duration-field input[type="number"]::-webkit-inner-spin-button,
.duration-field input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
